# SoundFonts & DLLs (Sound engine binarios)
*.sf2
*.dll

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# PyInstaller
build/
dist/
*.spec

# IDE & OS
.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store

# Local DB & Progress
*.db

# Temporary test renders
assets/test_*.png
assets/smufl_palette_test.png
